<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body>
<h1><a href="{% url 'users:index' %}">返回主页</a></h1>
<h3>重置密码</h3>
<form action="{% url 'password_reset' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        {% if field.help_text %}
            { field.help_text|safe }}
        {% endif %}
    {% endfor %}
    <button type="submit">提交</button>
</form>
</body>
</html>